@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

// All the rest of the folders are relative to 'media-folder'
// Eg: 'media/icons/'
$location: ( 'media-folder': '../media' );
$color: (
	'default-text': #3c3a41,
	'footer-link': #27ae60,
	'default-bk': #FFFFFF,
	'sidebar-bk': #19191f,
	'twitch-logo': #FFFFFF,
	'logo-link-hover': #101014,
	'footer-text': #88888A,
	'line': #3B3B40,
	'link-icon': #C3C3C4,
	'link-border': #6441a5,
	'link': #FAFAFA,
	'h3': #8c8c8c,
	'status': #8c8c8c,
	'thumb-bk': #C3C3C4,
	'error': #FAFAFA,
	'error-bk': #E74C3C
);
$sprite: (
	'default': 'sprites/',
	'alt': 'sprites/'
);
$sprite-position: (
	'github-light': 0px 0px,
	'github-dark': -57px 0px
);
$icon: (
	github: 'icons/rg-fcc-icon-github_v1.svg',
	github-alt: 'icons/rg-fcc-icon-github_v1.png'
);
$image: ();
$animation: (
	'preloader': 'animated/preloader.gif'
);

@mixin debug {
	border:1px dashed tomato;
}
@mixin background_image($image, $image-alt: '') {
	background: url( map-get($location, 'media-folder') + '/' + $image-alt );
	background-image: url( map-get($location, 'media-folder') + '/' + $image ), none;
	background-repeat: no-repeat;
}
@mixin sprites_defaults {
	width: 16px;
	height: 16px;
	@include background_image(
		map-get($sprite, 'default'),
		map-get($sprite, 'alt')
	);
	background-position: 0px 0px;
}
@mixin absolute_center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
@mixin traditional_center($width: 400px) {
	.outer {
		display: table;
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.middle {
		display: table-cell;
		vertical-align: middle;
	}
	.inner {
		margin-left: auto;
		margin-right: auto;
		width: $width;
	}
}
@mixin disable_text_selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin enable_text_selection {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
@mixin fcc_footer {
	display: block;
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 50px;
	padding: 10px 0 10px 0;
	font-size: 10px;
	&:hover { background-color: map-get($color, 'logo-link-hover'); }
	@media (min-width: 1030px) {
		width: 240px;
		padding: 20px 20px 20px 20px;
		&:hover { background-color: transparent; }
	}
	.copy {
		display: none;
		margin: 0 0 10px 0px;
		color:  map-get($color, 'footer-text');
		@media (min-width: 1030px) { display: block; }
		a {
			color: map-get($color, 'footer-link');
			text-decoration: none;
		}
		.brand {
			color:  map-get($color, 'footer-text');
			text-decoration: underline;
			font-weight: bold;
		}
	}
	.github {
		display: block;
		outline: 0;
		.icon {
			@include sprites_defaults;
			vertical-align: top;
			margin: 0px 0 0 0;
			display:inline-block;
			height: 26px;
			width: 26px;
			@include background_image(
				map-get($icon, 'github'),
				map-get($icon, 'github-alt')
			);
			background-position: map-get($sprite-position, 'github-light');
		}
		&:focus {
			outline: 0;
		}
	}
}
@mixin default_transition($propriety, $speed: .2s, $effect: ease-in-out) {
	-webkit-ransition: $propriety $speed $effect;
	-moz-transition: $propriety $speed $effect;
	-ms-transition: $propriety $speed $effect;
	transition: $propriety $speed $effect;
}
@mixin border_radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
* {
	box-sizing: border-box;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
html {
	background-color: map-get($color, 'default-bk');
	height: 100%;
}
body {
	color: map-get($color, 'default-text');
	font-family: 'Arimo', sans-serif;
	font-size: 14px;
	height: 100%;
}
footer { @include fcc_footer }
h2 {
	font-size: 30px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-weight: 400;
}
h3 {
	line-height: 30px;
	text-transform: uppercase;
	color: map-get($color, 'h3');
	font-size: 14px;
	font-weight: 400;
	margin: 20px 0 20px 0px;
	padding: 0 0 0 0px;
}
.wrapper {
	display: table;
	width: 100%;
	height: 100%;
}
.sidebar {
	padding: 0 0 0 0;
	display: table-cell;
	width: 50px;
	text-align: center;
	vertical-align: top;
	@media (min-width: 1030px) {
		width: 240px;
	}
	background-color: map-get($color, 'sidebar-bk');
}
.content {
	vertical-align: top;
	display: table-cell;
	padding: 30px 30px 30px 30px;
	&.loading {
		opacity: 0.4;
	}
}
.logo-link {
	display:block;
	width: 50px;
	height: 50px;
	padding: 10px 0 10px 0;
	&:hover {
		background-color: map-get($color, 'logo-link-hover');
	}
	@media (min-width: 1030px) {
		width: auto;
		height: auto;
		padding: 25px 0 25px 0;
		&:hover {
			background-color: transparent;
		}
	}
}
.twitch-logo {
	fill: map-get($color, 'twitch-logo');
	display: inline;
	&.small {
		@media (min-width: 1030px) { display: none; }
	}
	&.large {
		display: none;
		@media (min-width: 1030px) { display: inline; }
	}
}
.line {
	display:block;
	width: 30px;
	height: 1px;
	margin: 5px 10px 15px 10px;
	background-color: map-get($color, 'line');
	@media (min-width: 1030px) { display: none; }
}
.links {
	display: block;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	li { display: block; }
	a {
		display: block;
		height: 40px;
		padding: 12px 0 12px 0;
		text-decoration: none;
		font-size: 11px;
		color: map-get($color, 'link');
		border-left: 3px solid map-get($color, 'link-border');
		&:hover { background-color: map-get($color, 'logo-link-hover'); }
		&.active { background-color: map-get($color, 'logo-link-hover'); }
		@media (min-width: 1030px) {
			text-align: left;
			padding: 14px 0 10px 15px;
		}
	}
	.icon {
		display: inline-block;
		vertical-align: top;
		background-color: map-get($color, 'link-icon');
		width: 16px;
		height: 14px;
		margin: 1px 0 0 -1px;
		padding: 0 0 0 0;
		@media (min-width: 1030px) {
			margin: -1px 10px 0 0;
		}
		&.status {}
	}
	.text {
		display: none;
		@media (min-width: 1030px) { display: inline; }
	}
}
.channel {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	margin: 0 0 20px 0px;
	padding: 0 0 0 0px;
	@media (min-width: 400px) {
		&:nth-child(1n) { margin-right: 4%; }
		//&:nth-child(even) { margin-left: 3%; }
		width: 46%;
	}
	@media (min-width: 700px) {
		//&:nth-child(odd) { margin-right: 0; }
		//&:nth-child(even) { margin-left: 0; }
		&:nth-child(1n) { margin-right: 2.5%; }
		width: 30%;
	}
	@media (min-width: 1000px) {
		&:nth-child(1n) { margin-right: 0.6%; }
		width: 24%;
	}
	a {
		text-decoration: none;
		color: map-get($color, 'default-text');
		font-size: 14px;
	}
	p {
	}
	.image {
		display: block;
		width: 100%;
		height: 120px;
		background-color: map-get($color, 'thumb-bk');
		background-repeat: no-repeat;
		background-size: cover;
		@media (min-width: 400px) { height: 75px; }
		@media (min-width: 500px) { height: 105px; }
		@media (min-width: 600px) { height: 132px; }
		@media (min-width: 700px) { height: 105px; }
		@media (min-width: 800px) { height: 120px; }
		@media (min-width: 900px) { height: 140px; }
		@media (min-width: 1000px) { height: 120px; }
		@media (min-width: 1200px) { height: 140px; }
		@media (min-width: 1600px) { height: 180px; }
		@media (min-width: 1800px) { height: 200px; }
		@media (min-width: 2000px) { height: 240px; }
	}
	.title {
		margin: 10px 0 0 0;
		&:hover { text-decoration: underline; }
	}
	.status {
		font-size: 13px;
		color: map-get($color, 'status');
	}
}
.ajax {
	text-align: center;
	.preloader {
		@include absolute_center;
		display: block;
		left: 50px;
		height: 32px;
		@include background_image(map-get($animation, 'preloader'));
		background-position: center center;
		@media (min-width: 1030px) { left: 240px; }
	}
	.error {
		text-align: left;
		display: none;
		background-color: map-get($color, 'error-bk');
		color: map-get($color, 'error');
		font-size: 13px;
		padding: 10px 15px 10px 15px;
		margin: 30px 0 0 0;
	}
}
#online, #offline, #closed, #channels { display: none; }
